<a href="https://colab.research.google.com/github/victorrockfeller/python_intro_victorrockfeller/blob/main/python_intro_victorrockfeller.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python: Conhecendo a Linguagem

# O que é Programação?

## O que é um programa de computador?
## O que é um algoritmo?

# Um pouco mais Sobre o Python

## O que programar? (aplicações)
## Aonde programar? (ambientes)
## Como instalar o interpretador?

# A linguagem ("Hello World")

In [ ]:
print("Hello World")

Hello World

#Tipos de Dados básicos

In [ ]:
print(type(2)) # O tipo do número 2 é int (número inteiro)
print(type(2.5)) # O tipo do número 2.5 é float (número decimal)
print(type(1+1j)) # O tipo do número 1 + 1j (j é o número imaginário) é complex
print(type('O termo "termo" esta entre aspas\n')) # Sequencia de caracteres para armazenar texto
print(type(False)) # tipo booleano para Verdadeiro (True) e Falso (False)

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

## Variáveis

Uma variável não pode ter o nome comçado por números, eveitmem palavras-chave da linaguagem e caracateres especiais

In [ ]:
altura_do_Victor = 1.98 # nome_da_variavel = valor
texto = "Hello world"
chovendo = False

In [ ]:
print(altura, texto, chovendo)

1.98 Hello world False

## Operações básicas (e nem tão básicas)

### Com dados numéricos

In [ ]:
print(2.5+5j + 1) # o '+' é a soma usual
print(10 - 1) # o '-' é a subtração usual
print(2 * -2.5) # o '*' é a multiplicação usual
print(10 / 3) # o '/' é a divisão usual

print(4 ** -0.5) # o '**' é a potenciação
print(10 // 3 ) # o '//' é o quociente da divisão inteira
print(10 % 3) # o '%' é o resto da divisão inteiro

(3.5+5j)
9
-5.0
3.3333333333333335
0.5
3
1

### Com dados texto

In [ ]:
#anos = input("Digite sua idade: ")
frase = "Ola eu sou Victor e tenho " + anos  + " anos" # o '+' é a concatenação de strings
print(frase)
print("repete " * 10) # o '*' repete a string x vezes onde x é um número inteiro

Digite sua idade: 29
Ola eu sou Victor e tenho 29 anos
repete repete repete repete repete repete repete repete repete repete

### Com booleanos

In [ ]:
True +  False # converte o True para 1 e o False para 0 e faz numericamente

1

In [ ]:
True + 4

5

# Conversor de Moedas

In [ ]:
### Escreva uma sequência que converta um valor em real para dólar
valor_em_real = float(input("Digite o valor em reais: "))
valor_em_dolar

# Desvios condicionais

In [ ]:
if False:
  print('Era verdadeiro')
  print('Outro testo do if')
print('Imprimo independente do if')

Imprimo independente do if

In [ ]:
if True:
  print('Era verdadeiro')
print('Imprimo independente do if')

Era verdadeiro
Imprimo independente do if

In [ ]:
#operadores de comparação

print("3 == 2:", 3 == 2) # '==' representa igualdade
print("texto" == "texto", "texto" == "texto")
print("2.34 == 2.34:", "2.34" == 2.34)
variavel = '5.78'
print("variavel == 5.78:", variavel == 5.78)

print("2 > 3:", 2 > 2) # '>' verifica se o número a esquerda do símbolo é maior que o da direita
print("2 < 3:", 2 < 3) # '>' verifica se o número a esquerda do símbolo é menor que o da direita

print("2 >= 3:", 2 >= 3) # '>' verifica se o número a esquerda do símbolo é maior ou igaul que o da direita
print("2 >= 2:", 2 >= 2)
print("2 <= 3:", 2 <= 3) # '<' verifica se o número a esquerda so símbolo é menor ou igual que o da direita 
print("2 <= 2:", 2 <= 2)

print("2 != 2:", 2 != 2) # '!=' verifica se o número a esquerda do símbolo são diferentes
print("2 != 3:", 2 != 3)

3 == 2: False
True True
2.34 == 2.34: False
variavel == 5.78: False
2 > 3: False
2 < 3: True
2 >= 3: False
2 >= 2: True
2 <= 3: True
2 <= 2: True
2 != 2: False
2 != 3: True

In [ ]:
"abc".lower() == "ABc".lower()

True

In [ ]:
valor = int(input("Digite um número: "))
if valor > 10:
  print("Seu número é maior que 10")

Digite um número: 50
Seu número é maior que 10

In [ ]:
#Fórmula de Bhaskara (usando IF)
delta = -100
if delta > 0: # 'if' -> 'se'
  print("Tem 2 raízes reais")
if delta < 0:
  print("Não tem raízes reais")
if delta == 0:
  print("Tem 1 raíz real")

Não tem raízes reais

In [ ]:
#Fórmula de Bhaskara (usando IF, ELSE)
delta = -100
if delta > 0: # 'if' -> 'se'
  print("Delta é maior que 0")
else:                                  # 'else' -> 'ou'
  print("Delta é menor ou igaul a 0")

In [ ]:
#Fórmula de Bhaskara (usando IF, ELIF, ELSE)
delta = 200
if delta > 0: # 'if' -> 'se'
  print("Delta é maior que 0")
elif delta == 0:                      # 'elif' -> 'senão'
  print("Delta é 0")
else:
  print("Delta é menor ou igaul a 0")
print("Termina o programa")

Delta é maior que 0
Termina o programa

**### Exercício**

Dada a tabela o Imposto de Renda IR, faça um programa que recebe o salário de um trabalhador e devolve o valor do imposto.

Base de cálculo	(R$)             |Alíquota (%)
De R$ 1.903,99 até R$ 2.826,65	 |7,5%	
De R$ 2.826,66 até R$ 3.751,05	 |15%	
De R$ 3.751,06 até R$ 4.664,68	 |22,5%	
Acima de R$ 4.664,68           	 |27,5%

In [ ]:
#Solução
salario = float(input("Digite seu salário mensal: "))
if salario < 1903.99:
  valor = 0
elif salario <= 2826.65:
  valor = salario * 0.075
elif salario <= 3751.05:
  valor = salario * 0.15
elif salario <= 4664.68:
  valor = salario * 0.225
else:
  valor = salario * 0.275
print(f"O valor a ser pago de IR é R${valor:.2f}")

Digite seu salário mensal: 50000
O valor a ser pago de IR é R$13750.00

O TAB nos Sistemas Operacionais tem códigos distintos. No entanto, pode ser melhor usar o espaço.

# Laços de repetição

## While (enquanto)

In [ ]:
numero = 0
while numero < 10:              # 'while' -> 'enquanto'
  print("O valor de número é: ", numero)
  numero += 1
# Se você colocar 'while' 'True', ele vai rodar infinitamente. Sugiro não fazer se a tua máquina não for da NASA!

O valor de número é:  0
O valor de número é:  4
O valor de número é:  8

In [ ]:
numero = 0
while numero < 10:              # 'while' -> 'enquanto'
  print("O valor de número é: ", numero)
  numero += 3

O valor de número é:  0
O valor de número é:  3
O valor de número é:  6
O valor de número é:  9

In [ ]:
numero = 1
while numero > 0:
  numero = int(input("Digite um número: "))
  print("Você digitou o número", numero)
print("Terminou")

Digite um número: 1000
Você digitou o número 1000
Digite um número: 2000
Você digitou o número 2000
Digite um número: 3000
Você digitou o número 3000
Digite um número: 0
Você digitou o número 0
Terminou

In [ ]:
numero = 1
while numero != 0:
  numero = int(input("Digite um número: "))
  print("Você digitou o número", numero)
print("Terminou")

Digite um número: 1000
Você digitou o número 1000
Digite um número: 2000
Você digitou o número 2000
Digite um número: 3000
Você digitou o número 3000
Digite um número: 0
Você digitou o número 0
Terminou

## For (para cada)
é como se fosse o for it do JAVA

O WHILE faz tudo que o FOR faz, mas o FOR não faz tudo que o WHILE faz.

In [ ]:
for i in range(5):         # para cada 'i' faça ()
  print("A variável i vale:", i)

A variável i vale: 0
A variável i vale: 1
A variável i vale: 2
A variável i vale: 3
A variável i vale: 4

In [ ]:
for i in range(10):
  print("A variável i vale:", i)

A variável i vale: 0
A variável i vale: 1
A variável i vale: 2
A variável i vale: 3
A variável i vale: 4
A variável i vale: 5
A variável i vale: 6
A variável i vale: 7
A variável i vale: 8
A variável i vale: 9

In [ ]:
for i in [2, 5, 8, 3, 4]:
  print("A variável i vale:", i)

A variável i vale: 2
A variável i vale: 5
A variável i vale: 8
A variável i vale: 3
A variável i vale: 4

In [ ]:
for i in range(5, 10):
  print("A variável i vale:", i)

A variável i vale: 5
A variável i vale: 6
A variável i vale: 7
A variável i vale: 8
A variável i vale: 9

In [ ]:
i = 99
for i in range(10, 101, 10):
  print("A variável i vale:", i)

A variável i vale: 10
A variável i vale: 20
A variável i vale: 30
A variável i vale: 40
A variável i vale: 50
A variável i vale: 60
A variável i vale: 70
A variável i vale: 80
A variável i vale: 90
A variável i vale: 100

In [ ]:
i = 99
for i in [5, 3, 2, -1]:
  print("A variável i vale:", i)

A variável i vale: 5
A variável i vale: 3
A variável i vale: 2
A variável i vale: -1

# Coleções de dados

### Listas

## Dicionários

## Tuplas

## Muitas outras coleções!

# Funções